@model Book.Models.tbl_book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="container">


        <h1 class="text-left  text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.book_name</h1>
        <div class="row">
            <div class="col-md-5">
                <img src="~/assets/images/@Model.book_img" style="width:220px; height:294px" />
            </div>
            <div class="col-md-5">
                <h3>
                    <ul>
                        <li>@Model.book_description</li>
                        <li>Price: @Model.book_price đ</li>
                        <li>Author: @Model.tbl_author.au_name</li>
                    </ul>
                </h3>
                <p>
                    <a href="/ShoppingCart/AddtoCart/@Model.book_id" class="add-cart active">Add to cart</a>
                </p>
            </div>
        </div>
    </div>*@

<br />
<main class="container" style="background-color:#f2f2f2; border-radius:10px">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="left-column">
                <img src="~/assets/images/@Model.book_img" style="width:440px; height:588px; border:10px solid #ffbb00;border-radius:5px">
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="float:right;">
            <div class="right-column">
                <div class="product-description">
                    <span style="color:#ffbb00">@Model.tbl_category.cate_name | </span>
                    <span style="color:#ffbb00">@Model.tbl_publisher.pu_name</span>
                    <br />
                    <br />
                    <h1>@Model.book_name</h1>
                    <p><b>@Model.tbl_author.au_name</b></p>
                    <p>@Model.book_description</p>

                    <div class="product-price">
                        <h6>
                            <br />
                            <span>Price: @Model.book_price đ&nbsp;&nbsp;</span>
                            <hr />
                            <a href="/ShoppingCart/AddtoCart/@Model.book_id" class="add-cart active">Add to cart</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>