@model IEnumerable<Book.Models.tbl_book>
@{
    ViewBag.Title = "Home - BeerBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Begin Slider With Banner Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Slider Area -->
            <div class="col-lg-12 col-md-12">
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left  animation-style-01 bg-1">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5 style="color:yellow">Sale Offer <span>-20% Off</span> This Week</h5>
                                <h3 style="color:yellow">Starting at <span>$1209.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/HomeScreen/Store">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-2">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5 style="color:yellow">Sale Offer <span>Black Friday</span> This Week</h5>
                                <h3 style="color:yellow">Starting at <span>$824.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/HomeScreen/Store">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-3">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5 style="color:yellow">Sale Offer <span>-10% Off</span> This Week</h5>
                                <h3 style="color:yellow">Starting at <span>$1849.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="/HomeScreen/Store">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Banner Area End Here -->
<!-- Begin New Products Area -->
<section class="product-area li-laptop-product pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>New Book</span>
                    </h2>
                </div>
                <br />
                <br />
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <!-- single-product-wrap start -->
                        <div class="single-product-wrap" style=" width: 18.5%; margin-right: 1.5%;">
                            <div class="product-image">
                                <a href="#">
                                    @if (item.book_img == "-1")
                                    {
                                        <img src="~/assets/images/avttemp.jpg" style="width:220px; height:294px" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/@item.book_img" style="width:220px; height:294px" />
                                    }
                                    @*<img src="/Api/AvatarOfProduct/GetAvatarOfProduct?ProductId= @item.book_id" style="width:220px; height:294px" />*@
                                </a>
                                <span class="sticker">New</span>
                            </div>
                            <div class="product_desc">
                                <div class="product_desc_info">
                                    <div class="product-review">
                                        <h5 class="manufacturer">
                                            <a href="#">Studio Design</a>
                                        </h5>
                                    </div>
                                    <h4><a class="product_name" href="@Url.Action("Details", "HomeScreen", new { id = item.book_id})">@Html.DisplayFor(modelItem => item.book_name)</a></h4>
                                    <div class="price-box">
                                        <span class="new-price">@Html.DisplayFor(modelItem => item.book_price)<span>.đ</span></span>
                                    </div>
                                </div>
                                <div class="add-actions">
                                    <ul class="add-actions-link">
                                        <li class="add-cart active"><a href="/ShoppingCart/AddtoCart/@item.book_id">Add to cart</a></li>
                                        <li><a href="@Url.Action("Details", "HomeScreen", new { id = item.book_id})" title="view"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-wrap end -->
                    }
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- New Products Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Assets/images/banner/1.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Assets/images/banner/2.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                <div class="single-banner">
                    <a href="#">
                        <img src="~/Assets/images/banner/1.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<br>
<!-- Begin  Products Area -->
<section class="product-area li-laptop-product pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Trending</span>
                    </h2>
                </div>
                <br />
                <br />
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <!-- single-product-wrap start -->
                    <div class="single-product-wrap" style=" width: 18.5%; margin-right: 1.5%;">
                        <div class="product-image">
                            <a href="#">
                                @if (item.book_img == "-1")
                                {
                                    <img src="~/Assets/images/avtTemp.jpg" style="width:220px; height:294px" />
                                }
                                else
                                {
                                    <img src="~/Assets/images/@item.book_img" style="width:220px; height:294px" />
                                }
                            </a>
                            <span class="sticker">New</span>
                        </div>
                        <div class="product_desc">
                            <div class="product_desc_info">
                                <div class="product-review">
                                    <h5 class="manufacturer">
                                        <a href="#">Studio Design</a>
                                    </h5>
                                </div>
                                <h4><a class="product_name" href="@Url.Action("Details", "HomeScreen", new { id = item.book_id})">@Html.DisplayFor(modelItem => item.book_name)</a></h4>
                                <div class="price-box">
                                    <span class="new-price">@Html.DisplayFor(modelItem => item.book_price)<span>.đ</span></span>
                                </div>
                            </div>
                            <div class="add-actions">
                                <ul class="add-actions-link">
                                    <li class="add-cart active"><a href="/ShoppingCart/AddtoCart/@item.book_id">Add to cart</a></li>
                                    <li><a href="@Url.Action("Details", "HomeScreen", new { id = item.book_id})" title="view"><i class="fa fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <!-- single-product-wrap end -->
                    }
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>