@model Book.Models.tbl_book

@{
    ViewBag.Title = "EditBook";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Book</h2>

@if (ViewBag.msg != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.msg
    </div>
}
else if (ViewBag.msg1 != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @ViewBag.msg1
    </div>
}

@using (@Html.BeginForm("EditBook", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.book_id)

        <div class="form-group">
            @Html.LabelFor(model => model.book_name, "Tittle", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea rows="5" cols="60" name="description" placeholder="Enter details here...">@Model.book_description</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_fk_auid, "Author", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("book_fk_auid", ViewBag.li3 as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.book_fk_auid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_fk_puid, "Publisher", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("book_fk_puid", ViewBag.li2 as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.book_fk_puid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_fk_cateid, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("book_fk_cateid", ViewBag.li1 as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.book_fk_cateid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_quantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_img, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.book_img == "-1")
                {
                    <img src="~/Assets/images/avtTemp.jpg" style="width:60px; height:80px" />
                }
                else
                {
                    <img src="~/Assets/images/@Model.book_img" style="width:60px; height:80px" />
                }

                <input type="file" class="form-control" id="img" name="img" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "ShowBook")
</div>
