@model IEnumerable<Book.Models.tbl_book>

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>BOOK</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.ActionLink("New Book", "AddBook")
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <input type="search" name="search" placeholder="seach..." />
            <button>Try it or Reset</button>
        </div>


    </div>
}

<table class="table">
    <tr>
        <th>
            Tittle
        </th>
        <th>
            | Description
        </th>
        <th>
            | Price
        </th>
        <th>
            | Quantity
        </th>
        <th>
            | Author
        </th>
        <th>
            | Avatar
        </th>
        <th>
            | Publisher
        </th>
        <th>
            | Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.book_name)
            </td>
            <td style="width:500px">
                @Html.DisplayFor(modelItem => item.book_description)
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.book_price)
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.book_quantity)
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.tbl_author.au_name)
            </td>
            <td style="width:150px">
                @if (item.book_img == "-1")
                {
                    <img src="~/assets/images/avtTemp.jpg" style="width:60px; height:80px" />
                }
                else
                {
                    <img src="~/assets/images/@item.book_img" style="width:60px; height:80px" />
                }
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.tbl_publisher.pu_name)
            </td>
            <td style="width:150px">
                @Html.DisplayFor(modelItem => item.tbl_category.cate_name)
            </td>
            <td style="width:100px">
                @Html.ActionLink("Edit", "EditBook", new { id = item.book_id }) |
                @Html.ActionLink("Delete", "DeleteBook", new { id = item.book_id })
            </td>
        </tr>
    }

</table>
