<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Dashboard</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:900px">

            <div style="width:100%; height:900px; background-color:#d36e25" class="container list-group">

                <div class="list-group-item">
                    @Html.ActionLink("Index", "Index", new { @class = "list-group-item" })
                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Category", "CategoryManagement", new { @class = "list-group-item" })
                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Publisher", "PublisherManagement", new { @class = "list-group-item" })
                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Author", "AuthorManagement",  new { @class = "list-group-item" })
                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Book", "ShowBook", new { @class = "list-group-item" })
                </div>

                <div class="list-group-item">
                    @Html.ActionLink("Order", "ShowOrder", new { @class = "list-group-item" })
                </div>

            </div>

        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:900px">

            <div class="admin" style="border:2px dashed #cecaca; border-radius: 10px; margin-top: 3%;">

                @{ Html.RenderPartial("_AdminInfo");}

                @Html.ActionLink("Logout", "Logout", "Account")

            </div>

            @RenderBody()

        </div>

    </div>

</body>
</html>
