@model IEnumerable<Book.Models.tbl_cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() == 0 || Model == null)
{
    <h2 >No products in the shopping cart</h2>
}
else
{
    <div style="margin: 1rem 5rem 2rem;">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name </th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                </tr>
            </thead>
            @{
                double t = 0;
            }
            <tbody>
                @foreach (var item in Model)
                {
                    double total = Convert.ToDouble(Convert.ToDouble(item.tbl_book.book_price) * Convert.ToDouble(item.cart_book_amount));
                    t += total;

                    <tr sstyle="color: black">
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_book.book_name)
                        </td>
                        <td>
                            <img src="~/assets/images/@item.tbl_book.book_img" style="width:220px; height:294px" />
                        </td>
                        <td>
                            @item.tbl_book.book_price &nbsp;VNĐ
                        </td>
                        <td>
                            @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                            {
                                <input type="hidden" value="@item.cart_fk_bookid" name="ID_Product" />
                                <input type="number" value="@item.cart_book_amount" min="1" name="quantity" style="width: 3rem;" />
                                <input type="submit" value="Update" class="btn btn-success" />
                            }
                        </td>
                        <td>
                            @total &nbsp;VNĐ
                        </td>
                        <td>
                            <a href="/ShoppingCart/RemoveCart/@item.cart_fk_bookid" color: red">Remove from cart</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: right; font-size: 25px;"><br />Total: @t &nbsp;VNĐ</td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align: right;">
                        <br /> <a href="@Url.Action("CreateAnOrder", "ShoppingCart")"
                                  style="background: green; color:white; padding:13px 14px;border:none; margin:1px; border-radius:6px"> Order</a>
                    </td>
                </tr>

            </tfoot>
        </table>
        <a href="@Url.Action("Store", "HomeScreen")"><h1 style="font-size: 25px;">Go to store</h1></a>
    </div>
}

