@model IEnumerable<Book.Models.tbl_order>
@using Book.Models
@{
    ViewBag.Title = "Your Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    dbbookEntities _db = new dbbookEntities();
    int cusId = Convert.ToInt32(Session["user_id"]);
    var name = _db.tbl_customer.Where(x => x.cus_id == cusId).SingleOrDefault().cus_name;
    <h2>Account: @name</h2>
    <br />
}

<table id="table-orders" class="table">
    <tr>
        <th>
            Time:
        </th>
        <th>
            Address:
        </th>
        <th>
            Status:
        </th>
        <th>
            Paid:
        </th>
        <th>
            Total Bill:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_address)
            </td>
            <td>
                @if (item.order_stt_fk == 1)
                {
                    <b style="color:#b6ff00">@Html.DisplayFor(modelItem => item.tbl_status.stt_name)</b>
                }
                else if (item.order_stt_fk == 2)
                {
                    <b style="color:#00ff21">@Html.DisplayFor(modelItem => item.tbl_status.stt_name)</b>
                }
                else if (item.order_stt_fk == 3)
                {
                    <b style="color:green">@Html.DisplayFor(modelItem => item.tbl_status.stt_name)</b>
                }
                else
                {
                    <b style="color:red">@Html.DisplayFor(modelItem => item.tbl_status.stt_name)</b>
                }

            </td>
            <td>
                @if (item.order_isPaid == true)
                {
                    <b style="color:#00ff21">Đã thanh toán</b>
                }
                else
                {
                    <b style="color:#ff6a00">Chưa thanh toán</b>
                }
            </td>
            <td>
                @{

                    List<tbl_oderdetail> ods = _db.tbl_oderdetail.Where(x => x.od_fk_orderid == item.order_id).ToList();
                    int total = 0;
                    foreach (var i in ods)
                    {
                        total += (int)i.tbl_book.book_price;
                    }
                    <b>@total đ</b>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "OrderDetail", new { id = item.order_id }) |
                @{
                    if (item.order_stt_fk==1)
                    {
                        @Html.ActionLink("Cancel", "CancelOrder", new { id = item.order_id })
                    }
                }

            </td>
        </tr>
    }

</table>